
PCB Ruler/W210590AS1D4_PCB Ruler v1.0 32x100.zip
PCB Ruler/Adafruit-PCB-Ruler-main/README.md
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler_Gerber/PCB_Ruler.drl
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler_Gerber/PCB_Ruler-Top.gbr
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler_Gerber/PCB_Ruler-PTH.drl
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler_Gerber/PCB_Ruler-NPTH.drl
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler_Gerber/PCB_Ruler-F_SilkS.gbr
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler_Gerber/PCB_Ruler-F_Paste.gbr
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler_Gerber/PCB_Ruler-F_Mask.gbr
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler_Gerber/PCB_Ruler-Edge_Cuts.gbr
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler_Gerber/PCB_Ruler-Bottom.gbr
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler_Gerber/PCB_Ruler-B_SilkS.gbr
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler_Gerber/PCB_Ruler-B_Paste.gbr
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler_Gerber/PCB_Ruler-B_Mask.gbr
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.svg
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.sch
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pro
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/PNP-SYMB.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/PMOS-SYMB.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/Pin_Header_Straight_1x01_Pitch2.54mm.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/Pin_Header_Straight_1x01_Pitch2.00mm.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/Pin_Header_Straight_1x01_Pitch1.27mm.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/Pin_Header_Straight_1x01_Pitch1.00mm.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/NPN-SYMB.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/NMOS-SYMB.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/Mounting_Hole_28AWG.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/Mounting_Hole_26AWG.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/Mounting_Hole_24AWG.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/Mounting_Hole_22AWG.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/Mounting_Hole_20AWG.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/Mounting_Hole_18AWG.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/Mounting_Hole_16AWG.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/Mounting_Hole_14AWG.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/Mounting_Hole_12AWG.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/Mounting_Hole_10AWG.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/Mounting_Hole_08AWG.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/LED-GUIDE.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/EDGE-MILLIMETERS.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/EDGE-INCHES-TENTH.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/EDGE-INCHES-SIXTEENTH.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/EDGE-INCHES-EIGTH2.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.pretty/EDGE-INCHES-EIGTH.kicad_mod
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.kicad_pcb
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Ruler.brd
PCB Ruler/Adafruit-PCB-Ruler-main/PCB_Reference.lib
PCB Ruler/Adafruit-PCB-Ruler-main/license.txt
PCB Ruler/Adafruit-PCB-Ruler-main/hideVals.sh
